.btn
    display: block
    width: 150px
    height: 40px
    cursor: pointer
    border-radius: 8px
    font-size: 15px
    margin-right: 5px
    margin-top: 5px

.primary
    color: #fff
    background-color: #0d6efd
    border-color: #0d6efd
    &:hover
        background-color: #0b5ed7
        border-color: #0a58ca

.outlinePrimary
    background-color: transparent
    border-color: #0d6efd
    &:hover
        background-color: #0b5ed7
        border-color: #0a58ca
        color: #fff

.primaryUnderline
    color: #0d6efd
    text-decoration: underline
    &:hover
        background-color: #1c1f23
        border-color: #1a1e21
        color: #0a58ca


.secondary
    color: #fff
    background-color: #6c757d
    border-color: #6c757d
    &:hover
        background-color: #5c636a
        border-color: #565e64

.outlineSecondary
    background-color: transparent
    border-color: #6c757d
    &:hover
        background-color: #5c636a
        border-color: #565e64
        color: #fff

.success
    color: #fff
    background-color: #198754
    border-color: #198754
    &:hover
        background-color: #157347
        border-color: #146c43

.outlineSuccess
    background-color: transparent
    border-color: #198754
    &:hover
        background-color: #157347
        border-color: #146c43
        color: #fff

.danger
    color: #fff
    background-color: #dc3545
    border-color: #dc3545
    &:hover
        background-color: #bb2d3b
        border-color: #b02a37

.outlineDanger
    background-color: transparent
    border-color: #dc3545
    &:hover
        background-color: #bb2d3b
        border-color: #b02a37
        color: #fff

.warning
    color: #000
    background-color: #ffc107
    border-color: #ffc107
    &:hover
        background-color: #ffca2c
        border-color: #ffc720

.outlineWarning
    background-color: transparent
    border-color: #ffc107
    &:hover
        background-color: #ffca2c
        border-color: #ffc720

.info
    color: #000
    background-color: #0dcaf0
    border-color: #0dcaf0
    &:hover
        background-color: #31d2f2
        border-color: #25cff2

.outlineInfo
    background-color: transparent
    border-color: #0dcaf0
    &:hover
        background-color: #31d2f2
        border-color: #25cff2

.white
    color: #000
    background-color: #f8f9fa
    border-color: #f8f9fa
    &:hover
        background-color: #f9fafb
        border-color: #f9fafb

.outlineWhite
    background-color: transparent
    border-color: #f8f9fa
    &:hover
        background-color: #f9fafb
        border-color: #f9fafb

.dark
    color: #fff
    background-color: #212529
    border-color: #212529
    &:hover
        background-color: #f9fafb
        border-color: #f9fafb
        color: #000

.outlineDark
    background-color: transparent
    border-color: #212529
    &:hover
        background-color: #212529
        border-color: #212529
        color: #fff